<div layout-padding>
  <div layout="row">
    <div flex="50" layout="column">
      <pokemon-move-form
        on-selected-pokemon="$ctrl.onSelectedAttacker(pokemon)"
        on-selected-move="$ctrl.onSelectedMove(move)"
      />
    </div>
    <div flex="50" layout="column">
      <defender-form on-selected-pokemon="$ctrl.onSelectedDefender(pokemon)"/>
    </div>
  </div>
</div>

<section>
  <damage-table
    base-attack="$ctrl.baseAttack"
    power="$ctrl.power"
    base-defense="$ctrl.baseDefense"
    defense-cpm="$ctrl.defenseCpm"
    stab="$ctrl.stab"
    effectiveness="$ctrl.effectiveness"
  />
</section>
