<div layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="75" flex-gt-md="50" layout="column" layout-align="center stretch">
    <div layout="row">
      <div layout="column" flex style="overflow: hidden">
        <pokemon-move-form
          on-selected-pokemon="$ctrl.onSelectedAttacker(pokemon)"
          on-selected-move="$ctrl.onSelectedMove(move)"
          pokemon="$ctrl.attacker"
          move="$ctrl.move"
        />
      </div>
      <div layout="column" flex style="overflow: hidden">
        <defender-form
          pokemon="$ctrl.defender"
          level="$ctrl.level"
        />
      </div>
    </div>

    <section>
      <damage-table
        base-attack="$ctrl.baseAttack"
        power="$ctrl.power"
        base-defense="$ctrl.baseDefense"
        defense-cpm="$ctrl.defenseCpm"
        stab="$ctrl.stab"
        effectiveness="$ctrl.effectiveness"
      />
    </section>
  </div>
</div>