<div layout="column">
  <md-autocomplete
    md-floating-label="Defender"
    md-selected-item="$ctrl.pokemon"
    md-selected-item-change="$ctrl.onSelectedPokemonChange($ctrl.pokemon)"
    md-items="pokemon in $ctrl.filteredPokemons"
    md-item-text="pokemon.name"
    md-search-text-change="$ctrl.searchTextChange(searchText)"
    md-search-text="searchText"
    md-autoselect="true"
  >
    <md-item-template>
      <span>{{pokemon.name}}</span>
    </md-item-template>
    <div
      style="position: absolute;left: 2px;right: auto;bottom: 7px;font-size: 12px;line-height: 14px;color: grey;"
    >
      Base defense: {{$ctrl.pokemon.stats.baseDefense || '-'}}
    </div>
  </md-autocomplete>
  <md-input-container style="margin-top: 0">
    <label>Raid tier</label>
    <md-select ng-model="$ctrl.selectedRaidTier" ng-change="$ctrl.onSelectedRaidTierChange($ctrl.selectedRaidTier)">
      <md-option ng-value="null"><em>None</em></md-option>
      <md-option
        ng-repeat="tier in $ctrl.raidTiers track by $index"
        ng-value="$index+1"
      >
        {{::$index + 1}}
      </md-option>
    </md-select>
  </md-input-container>
</div>
