<md-subheader class="damageTable-subheader md-primary">
  <style>.damageTable-subheader .md-subheader-inner { padding: 16px 0; }</style>
  <table style="width: 100%; table-layout:fixed; border-collapse: collapse;">
    <thead>
      <tr>
        <th colspan="4"></th>
        <th colspan="2">15</th>
        <th colspan="2">14</th>
        <th colspan="2">13</th>
        <th colspan="2">12</th>
        <th colspan="2">11</th>
        <th colspan="2">10</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Pokemon</th>
        <th>Move</th>
        <th>DPS</th>
        <th>Damage</th>
        <th>Inc %</th>
        <th>Damage</th>
        <th>Inc %</th>
        <th>Damage</th>
        <th>Inc %</th>
        <th>Damage</th>
        <th>Inc %</th>
        <th>Damage</th>
        <th>Inc %</th>
        <th>Damage</th>
        <th>Inc %</th>
      </tr>
    </thead>
  </table>
</md-subheader class="md-primary">
<div style="padding: 0 0px">
  <table style="width:100%; table-layout:fixed; border-collapse: collapse; font-size:14px; padding: 0 8px; text-align:center">
    <tbody>
      <tr>
        <td>{{$index}}</td>
        <td>{{rank.pokemonName}}</td>
        <td>{{rank.moveName}}</td>
        <td>{{rank.dps}}</td>
        <td>{{rank.damage}}</td>
        <td>Inc %</td>
        <td>Damage</td>
        <td>Inc %</td>
        <td>Damage</td>
        <td>Inc %</td>
        <td>Damage</td>
        <td>Inc %</td>
        <td>Damage</td>
        <td>Inc %</td>
        <td>Damage</td>
        <td>Inc %</td>
        </tr>
    </tbody>
  </table>
</div>
