<div layout="column">
  <md-input-container style="margin-bottom: 0">
    <md-autocomplete md-floating-label="Attacker" md-no-cache="true" md-selected-item="selectedItem" md-items="item in ['Machamp', 'Zapdos']" md-item-text="item">
      <md-item-template>
        <span>sd</span>
      </md-item-template>
      <div style="position: absolute;left: 2px;right: auto;bottom: 7px;font-size: 12px;line-height: 14px;transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);color: grey;">
        Base attack: 234
      </div>
    </md-autocomplete>
  </md-input-container>
  <md-input-container style="margin-top: 0">
    <md-select ng-model="move">
      <md-option ng-value="asd">Rock Throw</md-option>
      <md-option>Rock Blast</md-option>
    </md-select>
  </md-input-container>
</div>
