<div layout="column">
    <md-autocomplete
      md-floating-label="{{$ctrl.label}}"
      md-selected-item="$ctrl.selectedPokemon"
      md-items="pokemon in $ctrl.filteredPokemons"
      md-item-text="pokemon.name"
      md-search-text-change="$ctrl.searchTextChange(searchText)"
      md-search-text="searchText"
      md-autoselect="true"
    >
      <md-item-template>
        <span>{{pokemon.name}}</span>
      </md-item-template>
      <div
        ng-show="$ctrl.selectedPokemon"
        style="position: absolute;left: 2px;right: auto;bottom: 7px;font-size: 12px;line-height: 14px;color: grey;"
      >
        Base attack: {{$ctrl.selectedPokemon.baseAttack}}
      </div>
    </md-autocomplete>
  <md-input-container style="margin-top: 0">
    <md-select ng-model="move">
      <md-option ng-value="asd">Rock Throw</md-option>
      <md-option>Rock Blast</md-option>
    </md-select>
  </md-input-container>
</div>
