<div layout="column">
    <md-autocomplete
      md-floating-label="Attacker"
      md-selected-item="$ctrl.pokemon"
      md-selected-item-change="$ctrl.onSelectedPokemonChange($ctrl.pokemon)"
      md-items="pokemon in $ctrl.filteredPokemons"
      md-item-text="pokemon.name"
      md-search-text-change="$ctrl.searchTextChange(searchText)"
      md-search-text="searchText"
      md-autoselect="true"
    >
      <md-item-template>
        <span>{{pokemon.name}}</span>
      </md-item-template>
      <div
        style="position: absolute;left: 2px;right: auto;bottom: 7px;font-size: 12px;line-height: 14px;color: grey;"
      >
        Base attack: {{$ctrl.pokemon.stats.baseAttack || '-'}}
      </div>
    </md-autocomplete>
  <md-input-container style="margin-top: 0">
    <label>Move</label>
    <md-select ng-model="$ctrl.move" ng-change="$ctrl.onSelectedMoveChange($ctrl.move)">
      <md-option
        ng-repeat="move in $ctrl.pokemonMoves"
        ng-value="move"
      >
        {{move.name}}
      </md-option>
    </md-select>
    <div
      style="margin-top: 2px;font-size: 12px;line-height: 14px;color: grey;"
    >
      Power: {{$ctrl.move.power || '-'}}
    </div>
  </md-input-container>
</div>
