<md-subheader class="damageTable-subheader md-primary">
  <style>.damageTable-subheader .md-subheader-inner { padding: 16px 0; }</style>
  <table style="width: 100%; table-layout:fixed; border-collapse: collapse;">
    <thead>
      <tr>
        <th ng-repeat="iv in ['IV',0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
          {{::iv}}
        </th>
      </tr>
    </thead>
  </table>
</md-subheader class="md-primary">
<div style="padding: 0 0px">
  <table style="width:100%; table-layout:fixed; border-collapse: collapse; font-size:14px; padding: 0 8px; text-align:center">
    <tbody>
      <tr ng-repeat="level in [40, 39.5, 39, 38.5, 38, 37.5, 37, 36.5, 36, 35.5, 35, 34.5, 34, 33.5, 33, 32.5, 32, 31.5, 31, 30.5, 30, 29.5, 29, 28.5, 28, 27.5, 27, 26.5, 26, 25.5, 25, 24.5, 24, 23.5, 23, 22.5, 22, 21.5, 21, 20.5, 20]">
        <th class="md-primary">{{::level % 1 ? '' : level}}</th>
        <td
          md-colors="{background: 'primary-100-{{($ctrl.damageCalculator(
            $ctrl.baseAttack,
            iv,
            $ctrl.power,
            $ctrl.cpM[level],
            $ctrl.baseDefense,
            $ctrl.defenseCpm,
            $ctrl.stab,
            $ctrl.effectiveness
          )-$ctrl.minDamage)/($ctrl.maxDamage-$ctrl.minDamage)}}'}"
          ng-repeat="iv in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"
        >
          <md-tooltip>
            Lvl: {{::level}} / 
            IV: {{::iv}} / 
            DPS: {{$ctrl.dpsCalculator($ctrl.damageCalculator(
            $ctrl.baseAttack,
            iv,
            $ctrl.power,
            $ctrl.cpM[level],
            $ctrl.baseDefense,
            $ctrl.defenseCpm,
            $ctrl.stab,
            $ctrl.effectiveness
          ), $ctrl.durationMs) || '-' | number:1}}
          </md-tooltip>
          {{$ctrl.damageCalculator(
            $ctrl.baseAttack,
            iv,
            $ctrl.power,
            $ctrl.cpM[level],
            $ctrl.baseDefense,
            $ctrl.defenseCpm,
            $ctrl.stab,
            $ctrl.effectiveness
          ) || '-'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
