<div class="md-whiteframe-1dp" layout-padding>
  <div layout="column">
    <div layout="row" layout-align="space-between center">
      <span class="md-display-1"># {{::$ctrl.rank}}</span>
      <div layout="column" layout-align="center center">
        <span class="md-display-1">{{::$ctrl.rankData.pokemonName}}</span>
        <span>{{::$ctrl.rankData.moveName}}</span>
      </div>
      <div layout="column">
        <span>DPS</span>
        <span>{{::$ctrl.rankData.dps | number : 1}}</span>
      </div>
    </div>
    <div style="overflow-x:auto;">
      <table style="width: 100%; border-collapse: collapse; font-size:14px; padding: 0 8px; text-align:center; margin-top: 8px;">
        <thead md-colors="{color: 'primary'}">
          <tr>
            <th colspan="3" class="right-border">15</th>
            <th colspan="3" class="right-border">14</th>
            <th colspan="3" class="right-border">13</th>
            <th colspan="3" class="right-border">12</th>
            <th colspan="3" class="right-border">11</th>
            <th colspan="3">10</th>
          </tr>
          <tr>
            <th>Lvl</th>
            <th>Dmg</th>
            <th class="right-border">Inc</th>
            <th>Lvl</th>
            <th>Dmg</th>
            <th class="right-border">Inc</th>
            <th>Lvl</th>
            <th>Dmg</th>
            <th class="right-border">Inc</th>
            <th>Lvl</th>
            <th>Dmg</th>
            <th class="right-border">Inc</th>
            <th>Lvl</th>
            <th>Dmg</th>
            <th class="right-border">Inc</th>
            <th>Lvl</th>
            <th>Dmg</th>
            <th>Inc</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{::$ctrl.rankData.breakpointData[15].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[15].damage}}</td>
            <td class="right-border">{{::($ctrl.rankData.breakpointData[15].increase-1)*100 | number : 1}}</td>
            <td>{{::$ctrl.rankData.breakpointData[14].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[14].damage}}</td>
            <td class="right-border">{{::($ctrl.rankData.breakpointData[14].increase-1)*100 | number : 1}}</td>
            <td>{{::$ctrl.rankData.breakpointData[13].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[13].damage}}</td>
            <td class="right-border">{{::($ctrl.rankData.breakpointData[13].increase-1)*100 | number : 1}}</td>
            <td>{{::$ctrl.rankData.breakpointData[12].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[12].damage}}</td>
            <td class="right-border">{{::($ctrl.rankData.breakpointData[12].increase-1)*100 | number : 1}}</td>
            <td>{{::$ctrl.rankData.breakpointData[11].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[11].damage}}</td>
            <td class="right-border">{{::($ctrl.rankData.breakpointData[11].increase-1)*100 | number : 1}}</td>
            <td>{{::$ctrl.rankData.breakpointData[10].level}}</td>
            <td>{{::$ctrl.rankData.breakpointData[10].damage}}</td>
            <td>{{::($ctrl.rankData.breakpointData[10].increase-1)*100 | number : 1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>